*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
  animation: fadeed 0.5s ease-in-out;
   font-family: "Roboto", sans-serif;
}
body{
    width: 100%;
    height: auto;
     font-family: "Roboto", sans-serif;
     color: #fff;
     background: #000;
}
.container{
    max-width: 1280px;
    height: auto;
    width: 100%;
    background: #13121252;
    padding: 20px 40px;
    border-radius: 10px;
    margin: 2% auto;
}
.card{
    max-width: 100%;
    width: 30%;
    padding: 20px;
    margin: 15px auto;
   
    gap: 20px;

    
    background: #222121;
    border-radius: 10px;
    backdrop-filter: blur(5px);
  
   
}
h1{
    text-align: center;
   margin: 0 auto;

}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
form{
    max-width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.result{
    background: rgb(124, 117, 117);
    border-radius: 5px;
    width: 100%;
    padding: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#display{
    width: 100%;
    padding:5px 10px;
    font-size: 2rem;
    font-weight: 500;
    text-align: right;
    border: 0;
    outline: 0;
    border-radius: 5px;
    color: rgb(38, 236, 12);
    background: #0a0a0a;
    

}
.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    text-align: center;
    
}
.buttons input{
    width: 100%;
    padding:10px 5px;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
    outline: 0;
    transition: 0.3s;
}
.operator{
    background: #ff9f43;
}
.buttons input:hover{
    opacity: 0.8;
}